<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bpm.gd.wms.outbound.server.mapper.ext.BaseHighLevelRackExtMapper">

    <select id="selectByMaterialNo" resultType="com.bpm.gd.wms.outbound.server.domain.BaseHighLevelRack">
        select * from BASE_HIGH_LEVEL_RACK where MATERIAL_CODE =#{materialItemNo}
    </select>
</mapper>