<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bpm.gd.wms.outbound.server.mapper.base.BaseStorekeeperLineMapper">
  <resultMap id="BaseResultMap" type="com.bpm.gd.wms.outbound.server.domain.BaseStorekeeperLine">
    <id column="ID" jdbcType="NUMERIC" property="id" />
    <result column="STOREKEEPER_NAME" jdbcType="VARCHAR" property="storekeeperName" />
    <result column="USER_ID" jdbcType="NUMERIC" property="userId" />
    <result column="LINE_NAME" jdbcType="VARCHAR" property="lineName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="REGION" jdbcType="VARCHAR" property="region" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, STOREKEEPER_NAME, USER_ID, LINE_NAME, REMARK, REGION
  </sql>
  <select id="selectByExample" parameterType="com.bpm.gd.wms.outbound.server.domain.BaseStorekeeperLineExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from BASE_STOREKEEPER_LINE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BASE_STOREKEEPER_LINE
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from BASE_STOREKEEPER_LINE
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <delete id="deleteByExample" parameterType="com.bpm.gd.wms.outbound.server.domain.BaseStorekeeperLineExample">
    delete from BASE_STOREKEEPER_LINE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bpm.gd.wms.outbound.server.domain.BaseStorekeeperLine">
    insert into BASE_STOREKEEPER_LINE (ID, STOREKEEPER_NAME, USER_ID, 
      LINE_NAME, REMARK, REGION
      )
    values (#{id,jdbcType=NUMERIC}, #{storekeeperName,jdbcType=VARCHAR}, #{userId,jdbcType=NUMERIC}, 
      #{lineName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bpm.gd.wms.outbound.server.domain.BaseStorekeeperLine">
    insert into BASE_STOREKEEPER_LINE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="storekeeperName != null">
        STOREKEEPER_NAME,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="lineName != null">
        LINE_NAME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="region != null">
        REGION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="storekeeperName != null">
        #{storekeeperName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=NUMERIC},
      </if>
      <if test="lineName != null">
        #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bpm.gd.wms.outbound.server.domain.BaseStorekeeperLineExample" resultType="java.lang.Long">
    select count(*) from BASE_STOREKEEPER_LINE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update BASE_STOREKEEPER_LINE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=NUMERIC},
      </if>
      <if test="record.storekeeperName != null">
        STOREKEEPER_NAME = #{record.storekeeperName,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=NUMERIC},
      </if>
      <if test="record.lineName != null">
        LINE_NAME = #{record.lineName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.region != null">
        REGION = #{record.region,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update BASE_STOREKEEPER_LINE
    set ID = #{record.id,jdbcType=NUMERIC},
      STOREKEEPER_NAME = #{record.storekeeperName,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=NUMERIC},
      LINE_NAME = #{record.lineName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      REGION = #{record.region,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bpm.gd.wms.outbound.server.domain.BaseStorekeeperLine">
    update BASE_STOREKEEPER_LINE
    <set>
      <if test="storekeeperName != null">
        STOREKEEPER_NAME = #{storekeeperName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=NUMERIC},
      </if>
      <if test="lineName != null">
        LINE_NAME = #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        REGION = #{region,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bpm.gd.wms.outbound.server.domain.BaseStorekeeperLine">
    update BASE_STOREKEEPER_LINE
    set STOREKEEPER_NAME = #{storekeeperName,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=NUMERIC},
      LINE_NAME = #{lineName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      REGION = #{region,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=NUMERIC}
  </update>
</mapper>